= form_for(@spot, :html => {:class => "form-horizontal", :multipart => true}) do |f|
  - if @spot.errors.any?
    #error_explanation.alert.alert-error
      %h2
        = pluralize(@spot.errors.count, "error")
        prohibited this spot from being saved:
      %ul
        - @spot.errors.full_messages.each do |msg|
          %li= msg
  .control-group
    = f.label :name, class: 'control-label'
    .controls
      = f.text_field :name
  .control-group
    = f.label :artist, class: 'control-label'
    .controls
      = f.text_field :artist, class: 'span4'
  .control-group
    = f.label :description, class: 'control-label'
    .controls
      = f.text_area :description, rows: 5, class: 'span4'
  .control-group
    = f.label :picture, class: 'control-label'
    .controls
      = f.file_field :picture
      - if @spot.picture? && !@spot.new_record?
        = link_to image_tag(@spot.picture.url(:thumb)), @spot.picture.url
  .control-group
    .controls
      %span.help-block
        = 'Please specify the spot location.'
      - if mobile_device?
        #map.google-maps{:style => "width:230px; height:250px"}
      - else
        #map.google-maps{:style => "width:100%; height:400px"}
  .control-group
    = f.label :era, class: 'control-label'
    .controls
      = f.text_field :era, class: 'span4'
  .control-group
    = f.label :material, class: 'control-label'
    .controls
      = f.text_field :material, class: 'span4'
  .control-group
    = f.label :scale, class: 'control-label'
    .controls
      = f.text_field :scale, class: 'span4'
  = f.hidden_field :lat
  = f.hidden_field :lng
  .form-actions
    = f.submit 'Submit', class: 'btn btn-primary'
