%h3 Listing spots
%table.table.table-striped
  %tr
    %th
    %th Name
    - unless mobile_device?
      %th Artist
      %th Description
      %th Era
      %th Material
      %th Scale
    %th
  - @spots.each do |spot|
    %tr
      %td= link_to image_tag(spot.picture.url(:thumb)), spot.picture.url
      %td= link_to spot.name, spot
      - unless mobile_device?
        %td= spot.artist
        %td= truncate spot.description, length: 30
        %td= spot.era
        %td= spot.material
        %td= spot.scale
      %td
        = link_to 'Edit', edit_spot_path(spot), class: 'btn mini-btn'
        = link_to 'Destroy', spot, :confirm => 'Are you sure?', :method => :delete, class: 'btn btn-danger'
%br/
= link_to 'New Spot', new_spot_path, class: 'btn btn-primary'
