<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @spot.name %>
</p>

<p>
  <b>Artist:</b>
  <%= @spot.artist %>
</p>

<p>
  <b>Description:</b>
  <%= @spot.description %>
</p>


<%= link_to 'Edit', edit_spot_path(@spot) %> |
<%= link_to 'Back', spots_path %>
