- @gmap = true
- content_for :title, @spot.name
- content_for :javascript do
  :javascript
    var markersArray = [];
    var map;
    
    function initialize() {
      var options = {
        center: new google.maps.LatLng(#{@spot.lat}, #{@spot.lng}),
        zoom: 14,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        streetViewControl: false,
        zoomControl: #{mobile_device? ? 'false' : 'true'},
        mapTypeControl: false
      };
      map = new google.maps.Map(document.getElementById("map"),
          options);
    
      var location = new google.maps.LatLng(#{@spot.lat}, #{@spot.lng});
      var marker = new google.maps.Marker({
        position: location,
        map: map
      });
    }

.row
  .span12
    = render partial: 'breadcrumb'
.row
  .span6
    = link_to image_tag(@spot.picture.url(:medium)), @spot.picture.url
  .span6
    - if mobile_device?
      #map.google-maps{:style => "width:230px; height:200px"}
    - else
      #map.google-maps{:style => "width:100%; height:360px"}
    %div{style: 'margin-top:10px;'}
      = render partial: 'shared/sns_buttons'
    %dl
      %dt Title:
      %dd= @spot.name
    
      %dt Artist:
      %dd= @spot.artist

      %dt Description:
      %dd= @spot.description

      %dt Era:
      %dd= @spot.era

      %dt Material:
      %dd= @spot.material

      %dt Scale:
      %dd= @spot.scale

      %dt Coordinate:
      %dd
        = @spot.lat
        ,
        = @spot.lng

      %dt Posted by:
      %dd= @spot.user.try(:username)

    = link_to 'Edit', edit_spot_path(@spot), class: 'btn'
    |
    \#{link_to 'Back', spots_path}
