- @gmap = true
- content_for :javascript do
  :javascript
    var markersArray = [];
    var map;
    
    function initialize() {
      var options = {
        center: new google.maps.LatLng(#{@spot.lat}, #{@spot.lng}),
        zoom: 14,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        streetViewControl: false,
        zoomControl: #{mobile_device? ? 'false' : 'true'},
        mapTypeControl: false
      };
      map = new google.maps.Map(document.getElementById("map"),
          options);
    
      var location = new google.maps.LatLng(#{@spot.lat}, #{@spot.lng});
      var marker = new google.maps.Marker({
        position: location,
        map: map
      });
    }
%p
  = link_to image_tag(@spot.picture.url(:medium)), @spot.picture.url

%p
  %b Name:
  = @spot.name
%p
  %b Posted by:
  = @spot.user.try(:username)
%p
  %b Artist:
  = @spot.artist
%p
  %b Description:
  = @spot.description
%p
  %b Era:
  = @spot.era
%p
  %b Material:
  = @spot.material
%p
  %b Scale:
  = @spot.scale
%p
  %b Lat:
  = @spot.lat
%p
  %b Lng:
  = @spot.lng
%p
  - if mobile_device?
    #map.google-maps{:style => "width:230px; height:250px"}
  - else
    #map.google-maps{:style => "width:100%; height:400px"}




= link_to 'Edit', edit_spot_path(@spot), class: 'btn'
|
\#{link_to 'Back', spots_path}
