= form_for(@user, :html => {:class => "form-horizontal"}) do |f|
  - if @user.errors.any?
    #error_explanation.alert.alert-error
      %h2
        = pluralize(@user.errors.count, "error")
        prohibited this user from being saved:
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  .control-group
    = f.label :username, class: 'control-label'
    .controls
      = f.text_field :username
  .control-group
    = f.label :email, class: 'control-label'
    .controls
      = f.text_field :email
  .control-group
    = f.label :password, class: 'control-label'
    .controls
      = f.text_field :password
  .control-group
    = f.label :password_confirmation, class: 'control-label'
    .controls
      = f.text_field :password_confirmation
  .form-actions
    = f.submit 'Submit', class: 'btn btn-primary'
