!!!
%html
  %head
    %title= content_for?(:title) ? yield(:title) + " - #{APP_CONFIG[:site_name]}" : APP_CONFIG[:site_name]
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = javascript_include_tag "http://maps.googleapis.com/maps/api/js?key=#{GMAP_KEY}&sensor=true" if @gmap
    %meta{:content => "width=device-width", :name => "viewport"}
    = yield :javascript
    = csrf_meta_tags
  %body
    = render partial: "shared/facebook_sdk"
    .container
      .navbar.navbar-fixed-top
        .navbar-inner
          .container
            %a.btn.btn-navbar{'data-toggle' => 'collapse', 'data-target' => '.nav-collapse'}
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            .nav-collapse
              %ul.nav
                %li= link_to "Spots(#{Spot.count})", spots_path
                %li= link_to raw('<i class=" icon-plus-sign"></i> New Spot'), new_spot_path
              %ul.nav.pull-right
                %li= link_to "CURATORS TV", "http://www.curatorstv.com/", target: '_blank'
                %li= link_to "CURATORS TV Blog", "http://blog.curatorstv.com/", target: '_blank'

        .navbar-inner
          .container
            %a.btn.btn-navbar{'data-toggle' => 'collapse', 'data-target' => '.nav-collapse'}
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            .nav-collapse
              %ul.nav
                %li= link_to image_tag('logo.png', width: 120), root_path
              %ul.nav.pull-right
                - if current_user
                  %li= link_to "Edit Profile", edit_user_path(current_user.id)
                  %li= link_to "Logout", :logout
                - else
                  %li= link_to "Register", new_user_path
                  %li= link_to "Login", :login

      = render partial: 'shared/flash', locals: {flash: flash}
      = yield

    .footer
      .container
        © Mopa
