!!!
%html
  %head
    %title Mopa
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container
      .navbar.navbar-fixed-top
        .navbar-inner
          .container
            %a.btn.btn-navbar{'data-toggle' => 'collapse', 'data-target' => '.nav-collapse'}
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            = link_to 'Mopa', root_path, class: 'brand'
            .nav-collapse
              %ul.nav
                - if current_user
                  %li= link_to "Edit Profile", edit_user_path(current_user.id)
                  %li= link_to "Logout", :logout
                - else
                  %li= link_to "Register", new_user_path
                  %li= link_to "Login", :login

      = render partial: 'shared/flash', locals: {flash: flash}
      = yield

    .footer
      .container
        © Mopa
